.venv/
__pycache__/
*.pyc
.pytest_cache/
dist/
*.egg-info/
unit_test_data/
docs/_build/
tools/

# plantuml/markdown round trip data based on
# files in the unit test data folder.
tests/data/*_puml.json
tests/data/*_md.json
